@import url(./vendor/InterWeb/fonts.css);

#root {
  font-family: 'Inter', 'Arial', sans-serif;
  line-height: 1;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #202020;
  position: relative;
}

